In [1]:
import pandas as pd 
import numpy as np 

data = pd.read_csv('Fraud_Data.csv')
data.head(5)

   user_id          signup_time        purchase_time  ...  age    ip_address class
0    22058  2015-02-24 22:55:49  2015-04-18 02:47:11  ...   39  7.327584e+08     0
1   333320  2015-06-07 20:39:50  2015-06-08 01:38:54  ...   53  3.503114e+08     0
2     1359  2015-01-01 18:52:44  2015-01-01 18:52:45  ...   53  2.621474e+09     1
3   150084  2015-04-28 21:13:25  2015-05-04 13:54:50  ...   41  3.840542e+09     0
4   221365  2015-07-21 07:09:52  2015-09-09 18:40:53  ...   45  4.155831e+08     0

[5 rows x 11 columns]

In [4]:
# fix the ip address
# data['ip_address'] = round(data['ip_address'])

data['ip_address'] = data['ip_address'].astype(np.int64)

# besides the 'astype' method, we also have the 'map' or 'apply' some lambda function to convert the data type

data.head(5)

   user_id          signup_time        purchase_time  ...  age  ip_address class
0    22058  2015-02-24 22:55:49  2015-04-18 02:47:11  ...   39   732758369     0
1   333320  2015-06-07 20:39:50  2015-06-08 01:38:54  ...   53   350311388     0
2     1359  2015-01-01 18:52:44  2015-01-01 18:52:45  ...   53  2621473820     1
3   150084  2015-04-28 21:13:25  2015-05-04 13:54:50  ...   41  3840542444     0
4   221365  2015-07-21 07:09:52  2015-09-09 18:40:53  ...   45   415583117     0

[5 rows x 11 columns]

In [8]:
pool_ip_address = pd.read_csv('IpAddress_to_Country.csv')

pool_ip_address.head(5)

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [7]:

pool_ip_address.dtypes

lower_bound_ip_address    float64
upper_bound_ip_address      int64
country                    object
dtype: object

In [13]:
# add the country info to the user table

data_country = [None] * data.shape[0]

for i in range(data.shape[0]):

    #tmp = ''
    tmp = pool_ip_address[(data['ip_address'][i]>=pool_ip_address['lower_bound_ip_address']) & (data['ip_address'][i]<=pool_ip_address['upper_bound_ip_address'])]['country'].values

    if len(tmp)==1:
        data_country[i] = tmp

In [14]:
data['country'] = data_country
data['country'] = data['country'].str.get(0)

print(data.groupby('country').size().nlargest(10))

country
United States        58049
China                12038
Japan                 7306
United Kingdom        4490
Korea Republic of     4162
Germany               3646
France                3161
Canada                2975
Brazil                2961
Italy                 1944
dtype: int64

In [15]:
# build a model to predict if fraud
# still categorical prediciton 0 or 1. we can choose random forest

# feature engineering
# for example, common ones:
# 1, time difference between sign-up and first purchase
# 2, divice id is uniq; ip address is uniq


from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

from datetime import datetime

np.random.seed(4684)

# convert the time 
data['signup_time'] = pd.to_datetime(data['signup_time'])
data['purchase_time'] = pd.to_datetime(data['purchase_time'])

data['diff_purchase_signup'] = (data['purchase_time']-data['signup_time']).dt.total_seconds()

data.head(5)

   user_id         signup_time  ...        country  diff_purchase_signup
0    22058 2015-02-24 22:55:49  ...          Japan             4506682.0
1   333320 2015-06-07 20:39:50  ...  United States               17944.0
2     1359 2015-01-01 18:52:44  ...  United States                   1.0
3   150084 2015-04-28 21:13:25  ...           None              492085.0
4   221365 2015-07-21 07:09:52  ...  United States             4361461.0

[5 rows x 13 columns]

In [16]:
# check if device is uniq
# get the attribute of how many users using the same device
# since the user table is one row for one user, we simple count how many times the device has shown up

data['device_id_count'] = data.groupby('device_id')['device_id'].transform('count')

data.head(5)

   user_id         signup_time  ... diff_purchase_signup  device_id_count
0    22058 2015-02-24 22:55:49  ...            4506682.0                1
1   333320 2015-06-07 20:39:50  ...              17944.0                1
2     1359 2015-01-01 18:52:44  ...                  1.0               12
3   150084 2015-04-28 21:13:25  ...             492085.0                1
4   221365 2015-07-21 07:09:52  ...            4361461.0                1

[5 rows x 14 columns]